.app-container {
    font-family: Helvetica, Arial, sans-serif;

    .header {
        padding: 20px;
    }

    .content {
        display: grid;
        grid-template-columns: 20% 75%;
        grid-column-gap: 20px;
        padding: 20px;
        background: #DCDCDC;

        .filters {
            background: white;
        }

        .hotel-list {
            background: white;
            display: grid;
            grid-template-columns: 20% 1fr 20%;

            .photo {
                width: 100%;
                height: 180px;
            }

            .details {
                padding: 10px;

                h1 {
                    font-weight: 400;
                    font-size: 16px;
                }

                .location {
                    color: #DCDCDC;
                    font-size: 14px;
                }
            }

            .price {
                color: #6DBA4A;
                padding: 10px;
            }
        }
    }
}